<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        a{
            text-decoration: none;
            font-size: larger;
            color: black;
        }
        p{
            display: flex;
            justify-content: center;
        }
        button{
            background-color: powderblue;
            margin: 5px;
            padding: 5px 10px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Home page</h1>

    <p>
        <button><a href="/register">Register</a></button>
    <button><a href="/login">login</a></button>
    </p>
</body>
</html>